<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="stylesheet" href="./stylesheet/common.css">
    <link rel="stylesheet" href="./stylesheet/index.css">
    <!-- <link rel="stylesheet" href="./libs/css/bootstrap.min.css"> -->
</head>
<body>
    <header>
        <!-- <img src="/imgs/qiniulogo.png" alt=""> -->
    </header>
    <section>
        <div>
            <p>智能图像分析系统</p>
            <p>DEMO</p>
        </div>
        
        <div id="wa_login_loginpanel">
            <p>系统登陆</p>
            <input id="wa_login_username" type="text" placeholder="请输入用户名／邮箱" />
            <input id="wa_login_psd" type="password" placeholder="请输入密码" />
            <button id="wa_login_submit">登陆</button>
            <p id="wa_login_alert" class="wa-component-hidden">用户名或密码错误！</p>
        </div>
    </section>
    <footer></footer>
    
    <script src="./javascript/index.js"></script>
</body>
</html>