<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base target="_blank" />
    <title>七牛云-人工智能实验室</title>
    <link rel="stylesheet" href="./stylesheet/common.css">
    <link rel="stylesheet" href="./stylesheet/home.css">
    <!-- <link rel="stylesheet" href="./libs/css/bootstrap.min.css"> -->
</head>
<body>
    <header>
        <div>
            <img src="/imgs/qiniulogo.png" alt="">
            <p>七牛云-人工智能实验室</p>
        </div>
        <div id="wa_home_navbar"></div>
    </header>
    <section class="wa-component-hidden">
        <div id="wa_home_left_panel">
            <input type="file" id="wa_home_imgselector" />
            <img id="wa_home_imgcontainer" src="" class="wa-component-hidden" alt="">
            <canvas id="wa_home_canvas" class="wa-component-hidden"></canvas>
        </div>
        <div id="wa_home_right_panel">
            <div>
                <button id="wa_home_btn_submit" class="wa-btn-success">提交检测</button>
                <button id="wa_home_btn_back" class="wa-btn-default">返回</button>
            </div>

            <div id="wa_home_resultshow"></div>
        </div>
    </section>
    <footer>
        <p>@copy right reserved by Qiniu</p>
    </footer>
    <div id="wa_loading_modal" class="wa-component-hidden"><p>加载中 ... ...</p></div>

    <script src="//unpkg.com/crypto-js/crypto-js.js"></script>
    <script src="https://unpkg.com/qiniu-js@v2.2.2/dist/qiniu.min.js"></script>
    <script src="./javascript/token.js"></script>
    <script src="./javascript/config.js"></script>
    <script src="./javascript/weixinweibo.js"></script>
</body>
</html>