header {
  height: 15vh;
  display: flex;
  align-items: center;
  background-color: #f5f7fa;
}
header img {
  height: 60%;
  margin-left: 10%;
}
section {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: url("/imgs/bg.gif");
  background-size: 100% 100%;
}
section > div:first-child p {
  color: white;
  font-size: 3rem;
  text-align: right;
}
section #wa_login_loginpanel {
  border: 1px solid white;
  width: 30vw;
  height: 40vh;
  padding: 30px;
}
section #wa_login_loginpanel p:first-child {
  color: white;
  margin: 20px;
  text-align: center;
}
section #wa_login_loginpanel input,
section #wa_login_loginpanel button {
  width: 100%;
  margin: 10px 0;
  padding: .5rem;
  border-radius: .3rem;
  border: 1px solid #aaa;
}
section #wa_login_loginpanel button {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
}
section #wa_login_loginpanel #wa_login_alert {
  font-size: .9rem;
  color: red;
  text-align: center;
}
footer {
  height: 10vh;
}
