section {
    justify-content: center;

    #videocontainer{
        position: relative;

        video {
            max-height: 100%;
            max-width: 100%;
        }
    
        canvas {
            position: absolute;
            max-height: 100%;
            max-width: 100%;
            top: 0;
            left: 0;
        }
    }
}